* {
    background: black;
    font-family: courier !important;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

nav li {
    margin-left: 20px;
}

/* FEATURES */
body glitter {
    color: #222;
    background: -webkit-linear-gradient(transparent, transparent), url(../images/glitter-dark.gif) repeat 100px 20px;
    background: -o-linear-gradient(transparent, transparent) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
a:hover.highlightable {
    color: #222;
    background: -webkit-linear-gradient(transparent, transparent), url(../images/glitter-dark.gif) repeat 100px 20px;
    background: -o-linear-gradient(transparent, transparent) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.lt {
    color: rgba(255, 255, 255, .55);
}