#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.contactForm {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  height: 100vh;
}

.contactForm__title {
  font-size: 2em;
  margin-bottom: 1rem;
}

.contactForm__label {
  display: block;
  margin-bottom: 0.5rem;
}

.contactForm__input,
.contactForm__textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
}

.contactForm__button {
  background-color: #c586c0;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm__paragraph {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.contactForm__link {
  color: white;
  text-decoration: none;
}

.contactForm__link .tag {
  color: rgba(255, 255, 255, .55);
}

.contactForm__link .operator {
  color: #c586c0;
}

.contactForm__link:hover {
  text-decoration: underline;
}
