body {
  background: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 0 20px;
}

.name {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    width: 0.1em;
    height: 1em;
    background: rgba(255, 255, 255, .55);
    animation: blink 1s infinite;
  }

  &:hover {
    .error {
      text-decoration: rgba(255, 255, 255, 0);
    }

    .gt {
      transform: rotate(90deg) scaleX(0.75) translateX(0.05em);
      color: white;
    }

    .tag, .operator {
      opacity: 0;
    }

    &::after {
      background: rgba(255, 255, 255, 0);
    }
  }
}

.error {
  transition: text-decoration 0.5s ease-in-out;
  text-decoration: underline wavy red 2px;
}

.gt {
  color: rgba(255, 255, 255, .55);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: inline-block;
  text-decoration: inherit;
}

.tag, .operator {
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
  text-decoration: inherit;
}

.tag {
  color: rgba(255, 255, 255, .55);
}

.operator {
  color: #c586c0;
}

.comment {
  color: #6a9955;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}