@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@font-face {
  font-family: "Precious";
  src: url(../assets/fonts/Precious.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheChairman";
  src: url(../assets/fonts/TheChairman.otf);
  font-weight: normal;
  font-style: normal;
}

.body {
  background: #9aab89;
}

#main {
  background-image: url("../assets/images/leaves-top-right.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top right;
  color: #fffbf2;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-shadow: 2px 2px 4px #3f5a36;
}

#main h1 {
  font-family: "TheChairman";
  font-size: 300%;
}

#main h2 {
  font-family: "TheChairman";
  font-size: 150%;
}

#main h3 {
  font-family: "TheChairman";
  font-size: 100%;
}

#main h4,
#main h5 {
  font-family: "Shadows Into Light Two";
  text-align: left;
}

#main .partier_right h4,
#main .partier_right h5 {
  text-align: right;
}

#main p,
#main blockquote,
#main a {
  font-family: "Shadows Into Light Two", cursive;
}

#main a {
  font-family: "Shadows Into Light Two", cursive;
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

#main blockquote {
  font-size: 80%;
  border-left: 2px dashed #3f5a36;
  margin-left: 0;
  padding-left: 1em;
}

#main a {
  display: inline;
}

#main nav {
  font-family: "Shadows Into Light Two", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px dashed #3f5a36;
  border-bottom: 2px dashed #3f5a36;
}

#main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#main nav ul li {
  display: inline-block;
  padding: 0 0.3em;
  white-space: nowrap;
}

/* pretty wide bar dotted line hr */
#main hr {
  border: none;
  margin: 2em 0;
  border-top: 2px dashed #3f5a36;
  background-color: transparent;
}

.container {
  padding: 0 20% 10% 20%;
  min-width: 60%;
  background-image: url("../assets/images/leaves-bottom-left.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* a skeumorphic card with forest green accents */
.card {
  background: #9aab89;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  padding: 1em;
  text-align: left;
}

.collapsed {
  display: none;
}

.collapse_title {
  cursor: pointer;
}

.collapse_icon {
  filter: invert(100%);
  margin-right: 0.5em;
  animation: none;
}

.collapse_icon_collapsed {
  transform: rotate(-90deg);
}

.no_wrap {
  white-space: nowrap;
}

.booking_link {
  text-decoration: underline !important;
}

.address {
  text-align: center;
}

.partier {
  display: flex;
  gap: 1em;
  padding: 1em 0;
}

.bio {
  text-align: left;
  font-size: 75%;
}

.partier > .profile {
  flex: 1;
  text-align: left;
}

.partier.partier_right {
  flex-direction: row-reverse;

  .profile > h4,
  .profile > h5 {
    text-align: right;
  }
}

.profile > img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

.profile > h4,
.profile > h5 {
  margin: 0.5em 0;
}

.partier > .bio {
  flex: 2;
  /* padding: 1em; */
  text-align: left;
}

.pencil {
  font-family: "Indie Flower", cursive;
  color: #cad1be;
}

.map {
  border: 0;
  border-radius: 5px;
  height: 33vh;
}

.vendor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right {
  text-align: right;
}

.vendor > .dotted_line {
  flex: 1;
  text-align: center;
  border-bottom: 4px dotted white;
}

.church {
  font-size: 70%;
  white-space: nowrap;
}

.photos {
  height: 30vw;
  max-width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.photos > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  margin: 10px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 10% 10% 10%;
  }

  .vendor > h4 {
    margin: 1em 0;
  }
}

@media (max-width: 750px) {
  .vendor {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0.75em;
    align-items: start;
  }

  .vendor > .dotted_line {
    display: none;
  }

  .vendor > h4 {
    margin: 0.5em 0;
  }

  .vendor > a {
    font-size: 90%;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 5% 10% 5%;
  }

  #main nav ul li {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
  }

  #main hr {
    margin: 1em 0;
  }

  #main {
    .card blockquote {
      font-size: 70%;
      margin-right: 0;
    }

    .card p {
      font-size: 80%;
      margin: 0.5em 0;
    }
  }

  .photos {
    height: 25vh;
    mask-image: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 1.0) 80%, transparent 95%);
  }

  .photos > img {
    width: 100vw;
    margin: 5px;
    object-fit: cover;
    box-shadow: none;
  }

  .photos > img:nth-of-type(odd) {
    display: none;
  }

  .partier {
    flex-direction: column;
    gap: 0;
  }

  .partier.partier_right {
    flex-direction: column;

    img {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .profile > img {
    float: left;
    margin-right: 10px;
    /* flex: 2; */
    width: 50%;
  }
}

@media (max-width: 450px) {
  #main h1 {
    font-size: 200%;
  }

  #main h2 {
    font-size: 100%;
  }

  #main h3 {
    font-size: 80%;
    margin: 1em 0;
  }

  #main h4 {
    font-size: 75%;
    margin: 1em 0;
  }

  #main p {
    font-size: 80%;
  }

  .vendor > a {
    font-size: 70%;
  }
}
