@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
  font-family: 'Precious';
  src: url(../assets/fonts/Precious.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheChairman';
  src: url(../assets/fonts/TheChairman.otf);
  font-weight: normal;
  font-style: normal;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;

  background: #9aab89;
  background-image: url('../assets/images/leaves-top-right.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top right;
  color: #fffbf2;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-shadow: 2px 2px 4px #3f5a36;
}

#main h1 { 
  font-family: 'TheChairman';
  font-size: 300%;
}

#main h2 {
  font-family: 'TheChairman';
  font-size: 150%;
}

#main h3 {
  font-family: 'TheChairman';
  font-size: 100%;
}

#main h4, #main h5 {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: left;
}

#main h4.right, #main .right > h4, #main .right > h5 {
  text-align: right;
}

#main p, #main blockquote, #main a {
  font-family: 'Shadows Into Light Two', cursive;
}

#main a {
  font-family: 'Shadows Into Light Two', cursive;
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

#main blockquote {
  font-size: 80%;
  border-left: 2px dashed #3f5a36;
  margin-left: 0;
  padding-left: 1em;
}

#main a {
  display: inline;
}

#main nav {
  font-family: 'Shadows Into Light Two', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px dashed #3f5a36;
  border-bottom: 2px dashed #3f5a36;
}

#main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;  
}

#main nav ul li {
  display: inline-block;
  padding: 0 0.3em;
  white-space: nowrap;
}

/* pretty wide bar dotted line hr */
#main hr {
  border: none;
  margin: 2em 0;
  border-top: 2px dashed #3f5a36;
  background-color: transparent;
}

.container {
  padding: 0 20% 10% 20%;
  background-image: url('../assets/images/leaves-bottom-left.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* a skeumorphic card with forest green accents */
.card {
  background: #9aab89;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  padding: 1em;
  text-align: left;
}

.partier {
  display: flex;
  gap: 1em;
  padding: 1em 0;
  align-items: center;
}


.bio {
  /* padding: 1em; */
  text-align: left;
  font-size: 75%;
}

.partier > img {
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

.partier > .profile {
  flex: 1;
  text-align: left
}

.profile.right {
  text-align: right;

  & > h4, & > h5 {
    text-align: right;
  }
}

.profile > img {
  border-radius: 5px;
  width: 15vw;
  height: 15vw;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

.profile > h4, .profile > h5 {
  margin: 0.5em 0;
}

.partier > .bio {
  flex: 1;
  /* padding: 1em; */
  text-align: left;
}

.pencil {
  font-family: 'Indie Flower', cursive;
  color: #cad1be;
}

.map {
  border: 0;
  border-radius: 5px;
}

.vendor {
  display: flex;
  gap: 10px;
  align-items: center;
}

.vendor > .left, .vendor > .right {
  white-space: nowrap;
}

.right {
  text-align: right;
}

.vendor > .dotted_line {
  flex: 1;
  text-align: center;
  border-bottom: 4px dotted white;
}

.right > .church {
  font-size: 70%;
}

.photos {
  height: 30vw;
  max-width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.photos > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  margin: 10px;
}

/* TODO: adjust styles for smaller screens */
